@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

section {
    @apply pt-28 mb-14 mx-8;
}

#root {
    @apply flex flex-col items-center;
    font-family: "Poppins", sans-serif;
}

.btn-primary {
    @apply flex items-center py-5 font-medium text-white transition-colors px-7 rounded-2xl bg-zinc-800 hover:bg-black select-none;
}

.section-heading {
    @apply mb-12 text-4xl font-semibold text-center text-zinc-800;
}

.home-image {
    box-shadow: inset 0 0 0 9px rgb(255 255 255 / 30%);
    animation: border-animate 8s ease-in-out infinite;
}

@keyframes border-animate {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}
